@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff8e8;
  --foreground: #22150f;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Monaco, monospace;
}

.scrollbar::-webkit-scrollbar {
  height: 8px;
  background-color: theme("colors.lightBeige");
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: theme("colors.green");
  border-radius: 4px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: theme("colors.darkGreen");
}
